html {
	height:100%;
	font-size: 20px;

	@media (min-width: 1920px) {
		font-size: calc(20px * 1920px / 100vw);
	}

}
body {
	font-family: 'Titillium Web';
	font-size: inherit;
	line-height: 36px;
	display:flex;
	flex-flow: column;
	height:100%;
	color:$dark-gray;

	> * {
		width:100%;
		box-sizing: border-box;

	}

	> footer {
		margin-top: auto;
	}


}

a {
	font-size: 1rem;
	text-decoration: none;
	color: #000;
	font-family: inherit;
}

button {
	font-family: 'Titillium Web';
}

select {
	font-family: 'Titillium Web';
}

header {
	position:fixed;
	background: #fff;
	z-index: 9;
	line-height: 22/20*1rem;
	max-width:100vw;
}

h1,h2,h3 {
	text-transform: uppercase;
}
h1 {
	font-size: 50/20*1rem;
	font-weight: 600;
	line-height: 65/20*1rem;
	display:inline-block;
	position:relative;

	&:before {
		content:'';
		height:auto;
		top:5%;
		bottom:5%;
		width:100%;
		background:$light-gray;
		display:block;
		position:absolute;
		z-index: -1;
	}
}

h2,h3 {
	font-size: 40/20*1rem;
	line-height: 61/20*1rem;
	font-weight: 600;
}
h2 {
	line-height:1;
	margin-bottom:0.5rem;
}

h4 {
	font-size: 26/20*1rem;
	line-height: 39/20*1rem;
	font-weight: 600;
}
strong {
	color:#000;
	font-weight: 600;
}

img {
	height:auto;
	width:100%;
}

p {
	color:$text-gray;
}

.space-before{
	&-small {
		margin-top:1.5rem;
		@media (max-width: $breakpoint-mobile){
			margin-top:0.5rem;
		}
	}
	&-large {
		margin-top:3rem;
		@media (max-width: $breakpoint-mobile){
			margin-top:1.5rem;
		}
	}
}
.space-after{
	&-small {
		margin-bottom:1.5rem;
		@media (max-width: $breakpoint-mobile){
			margin-bottom:0.5rem;
		}
	}
	&-large {
		margin-bottom:3rem;
		@media (max-width: $breakpoint-mobile){
			margin-bottom:1.5rem;
		}
	}
}

.content {
	margin-top: 172/20*1rem;
  .content {
    margin-top: unset;
  }
  @media(max-width: $breakpoint-tablet){
    margin-top: 7.35rem;
  }
	@media (max-width: $breakpoint-mobile) {
    margin-top: 6rem;
	}
}

.button {
	font-size: 17/20*1rem;
	font-weight: 600;
	line-height: 26/20*1rem;
	width:calc(212/20*1rem);
	background:#fff;
	display: block;
	color:#000;
	padding:0.55rem 1.5rem 0.55rem 1rem;
	position: relative;
	border:1px solid #393939;
	box-sizing: border-box;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	@media (max-width: $breakpoint-mobile){
		padding:.55rem;
	}
	>div {
		text-overflow: ellipsis;
		overflow:hidden;
		white-space: nowrap;
	}
	&:before {
		content:'';
		width: 0;
		height: 0;
		position: absolute;
		border-left: 10px solid #000;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		right:1rem;
		top:52%;
		transform: translateY(-50%);
	}

	&.buttonBlue {
		background: $dark-blue;
		color: #fff;
		border-color:transparent;
		line-height: 31/20*1rem;
		&:before {
			border-left-color:#fff;
		}
	}

	&.scrollButton {
		text-transform:uppercase;
		width:auto;
		padding-right:4rem;
		&:after {
			content:'';
			width: 0;
			height: 0;
			position: absolute;
			right:1rem;
			top:45%;
			transform: translateY(-50%);
		}
		&:before {
			top:62%;
		}
		&:before,&:after {
			border-left: 10px solid #fff;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
			transform: translateY(-50%) rotate(90deg);
		}
	}

	.hidden-text {
		display: none;
	}
}

.more-button {
	border:none;
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
	background:none;
	margin:1rem 0 0;
	padding-left:0;
	padding-right:1rem;
	color:$dark-gray;
	position: relative;
	cursor:pointer;
	&:before {
		content:'';
		width:0;
		height:0;
		border-left:8px solid $dark-gray;
		border-bottom:4px solid transparent;
		border-top:4px solid transparent;
		position: absolute;
		right:0;
		top:50%;
		transform: translateY(-50%);
	}
}

.boxGray {
	background:$light-gray;
}

.row {
	display:flex;
	@media (max-width: $breakpoint-tablet){
		flex-flow: column;
	}
}

table.withBorders {
	width:100%;
	font-size: 18/20*1rem;
	table-layout: fixed;
	tr {
		@media (max-width: $breakpoint-mobile){
			display:flex;
			flex-flow: column;
			padding:1rem 0;
			&.first {
				display:none;
			}
		}
		th {
			text-align: left;
			font-weight: 600;
		}
		th,td {
			padding:1rem 0;
			@media (max-width: $breakpoint-mobile){
				padding:0;
			}

		}
	}

	.buttonRow {
		max-width:140/20*1rem;
		padding-right:1rem;
		text-align: right;
		@media (max-width: $breakpoint-mobile){
			text-align: center;
			max-width:100%;
		}
		a {
			position:relative;
			text-transform: uppercase;
			font-size: 18/20*1rem;
			font-weight: 600;
			color:$dark-gray;
			&:before {
				content:'';
				width:0;
				height:0;
				border-left: 5px solid $dark-gray;
				border-top:5px solid transparent;
				border-bottom:5px solid transparent;
				right:-1rem;
				top:50%;
				transform:translateY(-50%);
				display:block;
				position:absolute;
			}
		}
	}
}
td, th {
	border-bottom: 1px solid #CBCBCB;
}
tr:not(.first):hover {
	background-color: #f5f5f5;
}

.trainingTeaserContent ul, ul.checkmark {
	margin-bottom:1rem;
	li {
		position:relative;
		margin-right:3rem;
    flex-grow: 1;
		&:before {
			display:block;
			position:absolute;
			top:0;
			left:-2rem;
			content:'';
			background-image: url('/img/Check.svg');
			height: 1.75rem;
			width: 2rem;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&.row {
		display:flex;
		margin-left:1.75rem;
		justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
	}
}

.mobile {
	display:none;
	@media (max-width: $breakpoint-mobile){
		display:block;
	}
}


.desktop {
	display:block;
	@media (max-width: $breakpoint-mobile){
		display:none;
	}
}

.textMedia a, .contentElement a {
  color: $dark-blue;
}

nav a:hover {
  color: $dark-blue;
}
