.button {
  cursor: pointer;
}

.threeColumns {
  flex-wrap: wrap;
}
.threeColumns>* {
  margin-bottom: 1em;
}

.threeColumns > .show-one, .threeColumns > .hide-one {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: calc(212/20*1rem);
  width: auto;
  padding-right: 2em;
}

.threeColumns > div:nth-child(n+4) {
  display: none;
}
.threeColumns.all-rows > div:nth-child(n+4) {
  display: block;
}

.threeColumns > .show-one:nth-child(n+4) {
  display: block;
}
.threeColumns > .show-one:nth-child(4) {
  display: none;
}

.threeColumns.all-rows {
  > .show-one {
    display: none;
  }
  > .hide-one {
    display: block;
  }
}

.threeColumns.all-rows > .hide-one::before {
  border-left: 0;
  border-right: 10px solid #000;
}

.stage {
  .slider {
    overflow: hidden;

    .slider_track {
      display: grid;
      position: relative;
      scroll-behavior: smooth;
      transition-property: left, height;
      transition-duration: 1s;

      a {
        position: relative;
        display: block;
        font-size: inherit;
        text-emphasis: inherit;
        color: inherit;
      }
    }
  }
  .stageProgressBar {
    cursor: pointer;
  }
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.videoRight {
  flex-direction: row-reverse;
}

.videoNoContent {
  .video {
    flex: 1;
  }
  .textMediaContent {
    display: none;
  }
}

em {
  font-style: italic;
}

body > div > .content, .edit-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  /* Default children are two columns wide */
  > * {
    grid-column-start: 1;
    grid-column-end: 3
  }

  .grid-left, .grid-right {
    width: min(640px, 100%);
    overflow: hidden;
  }

  .grid-left {
    grid-column-end: 2;
    margin: 0 0 0 auto;
  }

  .grid-right {
    grid-column-start: 2;
    margin: 0 auto 0 0;
  }

  @media (max-width: $breakpoint-mobile){
    .grid-left, .grid-right {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.editable mat-card-title > div {
  display: flex;
  align-items: center;
}

.market-selection {
  position: fixed;
  width: auto !important;
  max-width: 16em;
  top: 10em;
  right: 8em;
  z-index: 100;
}

iframe.mailchimp {
  width: 100%;
}
