$fontPath : '../fonts/Titillium_Web/';
@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-LightItalic.eot');
    src: url($fontPath + 'TitilliumWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-LightItalic.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-LightItalic.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-LightItalic.svg#TitilliumWeb-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-Italic.eot');
    src: url($fontPath + 'TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-Italic.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-Italic.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-Italic.svg#TitilliumWeb-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-SemiBoldItalic.eot');
    src: url($fontPath + 'TitilliumWeb-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-SemiBoldItalic.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-SemiBoldItalic.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-SemiBoldItalic.svg#TitilliumWeb-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-SemiBold.eot');
    src: url($fontPath + 'TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-SemiBold.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-SemiBold.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-Bold.eot');
    src: url($fontPath + 'TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-Bold.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-Bold.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-ExtraLight.eot');
    src: url($fontPath + 'TitilliumWeb-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-ExtraLight.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-ExtraLight.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-ExtraLight.svg#TitilliumWeb-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-Light.eot');
    src: url($fontPath + 'TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-Light.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-Light.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-Light.svg#TitilliumWeb-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-Black.eot');
    src: url($fontPath + 'TitilliumWeb-Black.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-Black.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-Black.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-Black.svg#TitilliumWeb-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-Regular.eot');
    src: url($fontPath + 'TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-Regular.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-Regular.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-ExtraLightItalic.eot');
    src: url($fontPath + 'TitilliumWeb-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-ExtraLightItalic.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-ExtraLightItalic.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-ExtraLightItalic.svg#TitilliumWeb-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url($fontPath + 'TitilliumWeb-BoldItalic.eot');
    src: url($fontPath + 'TitilliumWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url($fontPath + 'TitilliumWeb-BoldItalic.woff2') format('woff2'),
        url($fontPath + 'TitilliumWeb-BoldItalic.woff') format('woff'),
        url($fontPath + 'TitilliumWeb-BoldItalic.svg#TitilliumWeb-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

