.application {
	max-height: 300/20*1rem;
	position: relative;
	@media (max-width: $breakpoint-tablet){
		margin-left:-1rem;
		margin-right: -1rem;
	}
	@media (max-width: $breakpoint-mobile){
		max-height:unset;
	}
  img {
    height: 100%;
  }
	.applicationContent {
		position: absolute;
		bottom:1rem;
		left:1rem;
		z-index: 8;
		max-width:calc(100% - 2rem);

		h3 {
			color:#fff;
			line-height: 2rem;
			margin-bottom:0.5rem;
			max-width: 100%;
			overflow-wrap: break-word;
		}

		.button {
			color: $dark-blue;
			border:none;
			&:before {
				border-left-color: $dark-blue;
			}
		}
	}
	&:before {
		content:'';
		position: absolute;
		height:100%;
		width:100%;
		display:block;
		z-index: 8;
		top:0;
		left:0;
		background: linear-gradient(90deg, rgba(#000,0.6) , rgba(#000,0));
  }

  &:after {
    display: block;
    content: '';
    padding-bottom: 74%;
  }
}

.infoAndEvents .application:after {
  display: none;
}

.twoColumns {
	.image {
		.application {
			.applicationContent {
				@media (max-width: $breakpoint-tablet){
					left:2rem;
				}
			}
		}
	}
}

.application {
  img {
    object-fit: cover;
  }
}
