.background {
	padding:1rem 0;
	background:$light-gray;

	.contentElement {
		padding-bottom:0;
	}

	.greyboxContent {
		padding:1rem 0;
		display:flex;
		.icon {
			flex:0 0 15%;
			display:flex;
			justify-content: center;
			padding:0.5rem 1rem;
			img {
				height:3rem;
				width:4rem;
			}
		}

	}
}

.background-thin {
  .textMedia {
    background:$light-gray;
  }
}
