.backgroundTeaser {
	@extend %wrap;
	position: relative;
	padding:2rem 1rem;
	background-repeat: no-repeat;
	background-size:cover;
	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		display:block;
		width:100%;
		height:100%;
		background-color:#000;
		z-index: 7;
		opacity: 0.3;
	}
	* {
		z-index: 8;
	}

	h2 {
		color:#fff;
		position: inherit;
		margin-bottom: 1rem;
		@media (max-width: $breakpoint-tablet){
			font-size: 32/20*1rem;
			line-height: 1;
		}
	}
	.button {
		background:transparent;
		border-color:#fff;
		color:#fff;
		width: auto;
		display:inline-block;
		padding-right:3rem;
		&:before {
			border-left-color:#fff;
		}
	}

}
