.breadcrumb {
	background: $light-gray;
	box-sizing: border-box;
	a {
		font-size: 16/20*1rem;
		color:$dark-blue;
	}
	>ul {
		@extend %wrap;
		display:flex;

		>li {
			padding:0.7rem 3rem 0.7rem 0;
			position: relative;
			overflow-y:initial !important;
			@media (max-width: $breakpoint-mobile) {
				margin-right:1rem;
				padding-right:0.5rem;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: calc(100% - 2rem);
				width:0;
				height:0;
				border-left:8px solid $dark-blue;
				border-top:4px solid transparent;
				border-bottom:4px solid transparent;
				top:50%;
				transform: translateY(-50%);
				transition: transform 0.3s;
				@media (max-width: $breakpoint-tablet) {
					left:100%;
				}
			}

			&.nosubs {
				content: '';
				display: block;
				position: absolute;
				left: calc(100% - 2rem);
				width:0;
				height:0;
				border-left:8px solid $dark-blue;
				border-top:4px solid transparent;
				border-bottom:4px solid transparent;
				top:50%;
				transform: translateY(-50%);
				transition: transform 0.3s;
				@media (max-width: $breakpoint-tablet) {
					left:100%;
				}
				&:hover {
					transform: translateY(-50%);
				}
			}

			.subBread {
				display:none;
			}

			&:hover,&.hover {
				&:before {
					transform: translateY(-50%) rotate(90deg);
				}
				.subBread {
					display:block;
					position:absolute;
					top:100%;
					left:0rem;
					background:#fff;
					padding:0 1rem;
					//box-shadow: 1px 1px 1px 1px #000;
					@media (max-width: $breakpoint-mobile) {
						left:-1rem;
					}

					a {
						white-space: nowrap;
						font-size: 14/20*1rem;
					}

					>li {
						margin:0.5rem 0;
					}
				}
			}
		}

		>:nth-last-child(1) {
			&:before {
				display:none;
			}
		}
	}

}

.nosubs {
  padding-right: 2em !important;
}
.nosubs:before {
  display: none !important;
}

