#calibration-product {
  background: grey;

  .leakDetector, .vacuumGauge {
    display: none;
  }

  &.leakDetector, &.vacuumGauge {
    background: unset;
  }

  &.leakDetector .leakDetector {
    display: unset;
  }
  &.vacuumGauge .vacuumGauge {
    display: unset;
  }
}
