.threeColumns, .Columns3 {
	display:flex;
	justify-content: flex-start;
	flex-wrap:wrap;
	>:nth-child(n) {
		flex:0 1 32.333%;
		margin:0 0.75% 1rem;
		max-width:100%;
		overflow:hidden;
		@media (max-width: $breakpoint-mobile){
			margin:0 0.5rem 1rem;
		}
	}
	>:nth-child(3n) {
		margin-right:0;
		@media (max-width: $breakpoint-mobile){
			//margin-right:0.5rem;
		}
	}
	>:nth-child(3n+1) {
		margin-left:0;
		@media (max-width: $breakpoint-mobile){
			margin-left:.75%;
		}
	}


	&.unevenColumns {
		.image {
			display:flex;
			justify-content: space-around;
			align-content: center;
			img {
				height:auto;
				width:auto;
				max-width:100%;
				max-height:100%;
				object-fit: contain;
			}
		}
		.text {
			ul {
				li {
					padding-left:1rem;
					position: relative;
					&:before {
						height:7px;
						width:7px;
						position: absolute;
						content:'';
						display:block;
						left:0;
						top:0.75rem;
						background:$dark-gray;
					}
				}
			}
			a{
				text-decoration:underline;
				position: relative;
				padding-right:1rem;
				color:$dark-gray;
				&:before {
					content: "";
					width: 0;
					height: 0;
					position: absolute;
					border-left: 10px solid $dark-gray;

					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					right: 0rem;
					top: 52%;
					transform: translateY(-50%);
				}

			}
		}
		>:nth-child(n) {
			margin:0 0.5% 1rem;
		}
		>:nth-child(n+1) {
			margin-left:0;
			flex:0 1 34.75%;
		}
		>:nth-child(n+2) {
			flex:0 1 29.5%;
		}
		>:nth-child(n+3) {
			margin-right:0;
			flex:0 1 34.75%;
		}
	}
	@media (max-width: $breakpoint-mobile){
		flex-flow: column;
		>:nth-child(n) {
			margin-bottom:0.5rem;
		}
	}
}
.twoColumns, .Columns2 {
	display:flex;
	justify-content: space-between;
	>:nth-child(n) {
		flex: 0 1 48%;
	}
	@media (max-width: $breakpoint-mobile){
		flex-flow: column;
		>:nth-child(n) {
			margin-bottom:0.5rem;
		}
	}

	&.smallGap {
		>:nth-child(n) {
			flex: 0 1 49%;
		}
	}
	.infoBox {
		margin-bottom:0;
	}
	.image {
		@media (max-width: $breakpoint-tablet){
			overflow: hidden;
		}
	}
}
.fourColumns, .Columns4 {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	>:nth-child(n) {
		box-sizing: border-box;
		flex: 0 1 25%;
	}

	@media (max-width: $breakpoint-tablet){
		flex-wrap:wrap;
		>:nth-child(n) {
			flex: 0 1 calc(50% - 2rem);
			margin-bottom:0.5rem;
		}
	}
	@media (max-width: $breakpoint-mobile){
		flex-flow: column;
	}
	&.spaced {
		>:nth-child(n) {
			box-sizing: border-box;
			flex: 0 1 24%;
		}
		@media (max-width: $breakpoint-tablet){
		flex-wrap:wrap;
		>:nth-child(n) {
			flex: 0 1 calc(49% - 2rem);
			margin-bottom:0.5rem;
		}
		}
		@media (max-width: $breakpoint-mobile){
			flex-flow: column;
		}
	}
}
