.contentElement {
	@extend %wrap;
	position:relative;
	box-sizing: border-box;

	padding-bottom: 4rem;

	h2 {
		margin-bottom:1.5rem;
	}
	>.button {
		position:absolute;
		right:0;
		bottom:0rem;
	}

	@media (max-width: $breakpoint-tablet){
		padding-bottom:0;

		>.button {
			position: relative;
			width:auto;
			margin-top:1rem;
		}
	}

	.image {
		.application {
			max-height: unset;
			height:100%;
		}
	}
}
