.contactFinder {
	.threeColumns {
		margin:1rem 0;
	}
	.contactFinderContactBox {
		border-bottom:1px solid #aaa;
		border-right:1px solid #aaa;
		padding:1rem 2rem 1rem 0;
		.contactHeader {
			p {
				font-size: 18/20*1rem;
				font-weight: 600;
				span {
					text-transform: uppercase;
				}
			}
		}
		.contactContent {
			display:flex;
			justify-content: space-between;
			>:nth-child(n) {
				flex: 0 0 30%;
				p {
					font-size: 18/20*1rem;
					line-height:1.5;
					a {
						font-weight:600;
						color:$dark-blue;
						font-size: 18/20*1rem;
					}
				}
			}

			.hotline,.mail {
				font-weight: 600;
			}

		}
	}
}