.contactBanner {
	display:flex;
	justify-content: space-between;

	.contactBannerImage {
		flex :0 0 20%;
	}
	.contactBannerContent {
		width:100%;
		flex: 0 0 78%;
		background:$dark-blue;
		box-sizing:border-box;
		color:#fff;
		display:flex;
		justify-content: center;
		flex-flow:column;
		padding:1rem 1.5rem;
		p,a {
			font-size: 24/20*1rem;
			font-weight: normal;
			color:#fff;
		}
		.contentHeader {
			p {
				font-size: 24/20*1rem;
				font-weight: 600;

				span {
					text-transform: uppercase;
				}
			}
		}

		.twoColumns {
			.address {
				flex:0 0 35%;
			}
			.contact {
				flex:0 0 65%;
			}
		}

		a.button {
			margin-top:1rem;
			font-size: 18/20*1rem;
			padding-left:0;
		}
	}
}