.contactBox {
	@extend %wrap;
	background:$dark-blue;
	color:#fff;
	padding:2rem;
	box-sizing: border-box;
	@media (max-width: $breakpoint-tablet){
		padding:2rem 1.6rem;
	}

	.buttonBlue {
		border-color:#fff;
		color:#fff;

		&:before {
			border-left-color:#fff;
		}
	}
}