.downloads {
	@extend %wrap;
	img {
		width:auto;
		height:auto;
	}
	.downloadBlocks {
		padding:1rem 2rem;
		@media (max-width: $breakpoint-mobile){
			padding:1rem 0;
		}
		h4 {
			text-transform:uppercase;
			font-size: 1rem;
			margin-bottom: 1rem;
		}

		>:nth-last-child(1) {
			.downloadList{
				border:none;
				margin-bottom:0;
			}
		}

		>li {

			@media (max-width: $breakpoint-mobile){
				img{
					height:1rem;
					width:1rem;
				}
			}

			>.downloadList {
				display:flex;
				flex-flow: column;
				flex-wrap: wrap;
				border-bottom: 1px solid #aaa;
				padding-bottom:1rem;
				margin-bottom:1rem;
				@media (max-width: $breakpoint-mobile){
					width:100%;
				}

				>li {
					height:auto;
					min-height: 2rem;
					display:flex;
					margin-bottom: 0.5rem;
					align-items:center;
					@media (max-width: $breakpoint-tablet){
						flex-flow:column;
						align-items: flex-start;
						margin-bottom:3.5rem;
					}

					p {
						flex:0 0 35%;
						line-height:1;
						@media (max-width: $breakpoint-tablet){
							margin-bottom:1rem;
						}
					}
					@media (max-width: $breakpoint-mobile){
						height:auto;
						line-height:1.3rem;
						padding:0.5rem 0;
					}
					.downloadOptions {
						display:flex;
						position:relative;
						@media (max-width: $breakpoint-mobile){
							width:auto;
						}

						select {
							width:12.5rem;
							border:1px solid $dark-gray;
							appearance:none;
							text-transform: uppercase;
							background:$light-gray;
							padding-left:0.5rem;
							outline: none;
							height: 2rem;
							font-size: 16/20*1rem;
							-webkit-appearance: none;
							-webkit-border-radius: 0;
							@media (max-width: $breakpoint-mobile){
								width:100%;
								min-width: 200px;
							}
						}
						&:before {
							content:'';
							position:absolute;
							border-top:7px solid #000;
							border-left:5px solid transparent;
							border-right:5px solid transparent;
							left:11.5rem;
							top:40%;
							@media (max-width: $breakpoint-mobile){
								left:unset;
								right:3rem;
							}
						};

					}
					a.downloadSingle {
						margin-left:0.75rem;
						width:2rem;
						height:2rem;
						background:$dark-blue;
						padding:0;
						border:none;
						&:before {
							border-top:7px solid #fff;
							border-left:5px solid transparent;
							border-right:5px solid transparent;
							right:unset;
							left:50%;
							top:40%;
							transform:translateX(-50%);
						}
					}
				}
			}

			@for $i from 1 through 99 {
				>ul[data-colsize="#{$i}"] {
					max-height: #{$i*2rem};
					@media (max-width: $breakpoint-mobile){
						max-height: unset;
					}
				}
			}
		}
	}

	.buttonBlue {
		width:100%;
		text-align: center;
		padding:0.5rem 0;
		border:none;
		&:before {
			display:none;
		}
	}
}
