.downloadTeaser {
	background:$light-gray;

	.downloadTeaserWrapper {
		@extend %wrap;
		padding:1rem 5rem;
		box-sizing:border-box;
		display:flex;
		align-items: center;
		@media (max-width: $breakpoint-tablet){
			flex-flow:column;
			padding:2rem 0;
		}
		>:nth-child(n){
			margin:0 2rem;
			@media (max-width: $breakpoint-tablet){
				margin:1rem;
			}
		}

		img {
			max-height:300/20*1rem;
			object-fit:contain;
			max-width:215/20*1rem;
			@media (max-width: $breakpoint-tablet){
				margin-bottom:1rem;
			}
		}

		.downloadTeaserContent {
			.downloadTeaserContentButtons {
				display:flex;
				@media (max-width: $breakpoint-tablet){
					flex-flow:column;
				}

				.button {
					border:none;
					background:transparent;
					color:$dark-gray;
					font-weight: 600;
					padding-left:0;
					margin-right: 3rem;
					width:auto;
					padding-right:2.5rem;
					text-transform: uppercase;
					@media (max-width: $breakpoint-tablet){
						margin-right:0;
					}

					&:before {
						border-left:10px solid $dark-gray;
					}
				}
			}
		}
	}
}