.downloadArea {
	@extend %wrap;

	display:flex;


	.downloadAreaSideBar {
		flex: 0 0 25%;	
		border-right:1px solid #CBCBCB;
		.selectBox {
			position:relative;
			width:100%;
			select {
				width: 100%;
				border: 1px solid #CBCBCB;
				appearance: none;
				text-transform: uppercase;
				background: transparent;
				padding-left: .5rem;
				outline: none;
				height: 2rem;
				font-size: .8rem;
				-webkit-appearance: none;
				-webkit-border-radius: 0;
				border-top:none;
				border-right:none;
			}

			&:before {
				content:'';
				position:absolute;
				border-top:7px solid #000;
				border-left:5px solid transparent;
				border-right:5px solid transparent;
				right:1rem;
				top:40%;
				@media (max-width: $breakpoint-mobile){
					left:unset;
					right:3rem;
				}
			};
		}

		h4 {
			text-transform: uppercase;
			font-size: 1rem;
			margin-bottom: 1rem;
			padding-left:1.5rem;
			margin-top:2rem;
		}

		.categories {
			padding-left:1.5rem;

			>li {
				position:relative;
				cursor: pointer;
				&:before {
					position:absolute;
					content:'';
					display:block;
					left:-1.5rem;
					top:10/20*1rem;
					border: 1px solid $dark-gray;
					height:16/20*1rem;
					width:16/20*1rem;
				}
				> a {
					line-height: 1;
				}

				&.active {
					&:after {
						position:absolute;
						content:'';
						display:block;
						left:calc(-1.5rem + 3px);
						top:13/20*1rem;
						background:$dark-blue;
						height:12/20*1rem;
						width:12/20*1rem;
					}
				}
			}
		}

	}

	.downloadAreaContent {
		flex: 1 1 75%;
		.downloadBlocks {
			padding-right:0;
			>li {
				> .downloadList {
					> li {
						p {
							flex:0 0 40%;
						}
						> .downloadOptions{
							select {
								background:transparent;
							}
						}
					}
				}
			}
			.downloadList {
				>li {
					//justify-content: space-between;

					select {
						background:transparent;
					}
				}
			}
		}
	}
}