.eventbox {
	background:$dark-blue;
	color:#fff;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 2rem 2rem;
	height:100%;
	position: relative;

	@media (max-width: $breakpoint-mobile){
		margin:0 -1rem;
	}
	.events {
		display:flex;
		.event {
			flex:0 0 50%;
		}
	}
	h3{
		margin-bottom:3rem;
		max-width: 170/20*1rem;
		line-height: 1em;
	}

	p,strong {
		color:#fff;
		text-transform: uppercase;
	}

	.button {
		margin-top:1rem;
		border-color:#fff;
	}
	.arrows {
		position: absolute;
		top:2rem;
		right:2rem;
		display: flex;
		img {
			height:100%;
		}

		.next {
			transform: rotateY(180deg);
			margin-left:0.5rem;
		}
	}
}