.filter {
	background:$light-gray;
	padding:1rem 0 1.5rem;
	color:$dark-gray;
	.filterContent {
		@extend %wrap;
		position:relative;
		input:not([type="date"]) {
			position: absolute;
			right: 0;
			top: 0.5rem;
			height: 2rem;
			width: 420/20*1rem;
			font-size: 1rem;
			padding-left: 1rem;
			text-transform: uppercase;
			outline:none;
			background:transparent;
			border:1px solid #aaa;
			@media (max-width: $breakpoint-tablet){
				position:initial;
				width:100%;
				box-sizing: border-box;
			}
		}
		.reset {
			font-weight: 300;
			text-transform: none;
		}

		h3 {
			display: flex;
			align-items: center;

			.info {
				position:relative;
				background-image:url('../img/info-bubble.svg');
				width:0.9rem;
				height:0.9rem;
				display:block;
				margin-left:1rem;
				background-repeat:no-repeat;
				background-size: contain;
				.infoBox {
						position:absolute;
						left:110%;
						top:0;
						transform:translateY(-50%);
						opacity: 0;
						font-size: 18/20*1rem;
						font-weight: 300;
						transition:opacity 0.3s;
						text-transform:none;
						width:400/20*1rem;
						background-color:$light-gray;
						border:1px solid $dark-gray;
						z-index: 10;
						padding: 0.5rem;
						line-height: 1;
						border-radius: 5/20*1rem;
					&.open {
						opacity: 1;

					}
				}
			}
		}
		.filterHeader {
			display:flex;
			align-items: center;
			@media (max-width: $breakpoint-tablet){
				flex-flow: column;
				align-items: flex-start;
			}
			h3 {
				margin-right:2rem;
			}
			.reset {
				position:absolute;
				right:0;
				color:$dark-gray;

			}
		}
		.filters {
			display: flex;
			justify-content: space-between;
			padding:1rem 0;
			position: relative;
			>:nth-child(n) {

          flex: 1 1 24%;
//        max-width: 33%;
			}
			>button {
				flex-shrink:0;
			}
			&.secondRow {
				margin-top: -1.5rem;
				justify-content: flex-start;
				>* {
					flex:0 0 24.5%;
				}
			}

			select,input[type="date"],.selectMenu {
				flex:0 0 24.4%;
				display: block;
				border:1px solid #aaa;
				font-size: 1rem;
				text-transform: uppercase;
				font-weight: 600;

				padding: 0.55rem 1rem;

				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;

				outline:none;
				position: relative;
        background-image: url('../img/arrow.png');
        background-color: $light-gray;
        background-repeat: no-repeat;
        background-position: 95% 50%;
				color:$dark-gray;
				border-radius:0;
				margin:0;
				margin-right:0.5rem;
				@media (max-width: $breakpoint-tablet){
					margin-right:0;
				}
			}
			select,input[type="date"] {
				position:relative;
			}
			.selectMenu {
				.selectMenuContent {
					display:none;
				}

				&.open {
					border-bottom:1px solid #fff;
					background-color:#fff;

					.selectMenuContent {
						display:block;
						position:absolute;
						top:100%;
						left:-1px;
						padding:1rem;
						box-sizing:border-box;
						background:#fff;
						z-index: 7;
						@extend %wrap;
						width:calc(100vw - 2rem);
						border:1px solid #aaa;
						border-top:none;

						ul {
							display:flex;
							flex-flow:column wrap;
							max-height:12rem;
							@media (max-width: $breakpoint-mobile){
								max-height:100%;
							}
							li {
								text-transform: none;
								font-weight: 400;
								color:$dark-gray;
								&.active {
									a{
										position:relative;
										&:before {
											display: block;
											position: absolute;
											content:'';
											background-image: url('/img/checked.svg');
											background-repeat:no-repeat;
											background-position: center;
											height:1rem;
											width:1rem;
											left:calc(100% + 0.5rem);
											top:55%;
											transform:translateY(-50%);
										}
									}
								}
							}
						}
					}
				}
			}
			>:nth-last-child(1) {
				margin-right:0;
			}
			input[type="date"] {
				background-image: url('/img/date.svg');
				font-family: inherit;
				font-size: 1rem;
				font-weight: 600;
				box-sizing:border-box;

				@media (max-width: $breakpoint-tablet){
					padding:0.8rem 1rem;
					margin-bottom:0.5rem;
				}
			}

			.locked {
				background-image: url('../img/lock.svg');
			}
			@media (max-width: $breakpoint-tablet){
				flex-flow: column;
				>:nth-child(n) {
					margin-bottom:0.5rem;
          max-width: unset;
				}

				.button {
					width:auto;
					padding-left:1.3rem;
					&:before {
						right:5%;
					}
				}
			}
		}

		.filterFooter {
			display: flex;
			justify-content: space-between;
			@media (max-width: $breakpoint-mobile){
					flex-flow: column-reverse;
					p {
						margin-top:1rem;
					}
				}
		}
		p {
			color:$dark-gray;

			a{
				text-decoration: underline;
				font-weight: 600;
				color:$dark-gray;

			}
		}
	}
}
.filterSelection{
	border-bottom:1px solid #cbcbcb;
	padding: 1rem 0;
	.filterSelectionWrapper {
		@extend %wrap;
		display:flex;

		.filterSelectionHeader {
			flex:0 0 10%;
			display:flex;
			flex-flow:column;
			justify-content: center;
			p {
				text-transform: uppercase;
				font-weight: 600;
				line-height:1rem;
				strong {
					font-size: 20/20*1rem;
					line-height: 1;
				}
				&.results {
					margin-top:0.25rem;
					font-size: 16/20*1rem;
					color:$dark-blue;
				}
			}
		}

		.filterSelectionSelection {
			padding-left:1rem;
			margin-left:1rem;
			position:relative;
			&:before {
				height: 100%;
				width:1px;
				content:'';
				display:block;
				position:absolute;
				left:0;
				top:50%;
				transform:translateY(-50%);
				background-color:#cbcbcb;
			}

			.categories {
				.category {
					display:flex;
					>p {
						min-width:130/20*1rem;
						font-weight: 600;
						font-size: 1rem;
						color:$dark-gray;
					}
					.selection {
						display:flex;
						@media (max-width: $breakpoint-tablet){
							flex-flow:column;
						}
						>li {
							margin:0 1rem;
							>a {
								padding-left:1rem;
								position:relative;
								&:before {
									background-image:url('../img/uncheck.svg');
									background-repeat: no-repeat;
									background-position: center;
									background-size: contain;
									height:0.5rem;
									width:0.5rem;
									content:'';
									display:block;
									position:absolute;
									left:0rem;
									top:55%;
									transform:translateY(-50%);
								}
							}
						}
					}
				}
			}
		}
	}
}

// Added this for product finder 2 or 3 column support
.filterContent .filters .selectMenu {
  flex: 1 1 24%;
}
