.filterBar {
	background:$light-gray;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	margin-top:-15px;
	.filterBarWrapper {
		@extend %wrap;
		padding:1.5rem 0;

		.filterBarFilters {
			display: flex;
			flex-wrap:nowrap;
			@media (max-width: $breakpoint-tablet){
				flex-wrap: wrap;
			}
			@media (max-width: $breakpoint-mobile){
				flex-flow:columns;
			}

			.filterBarFilter {
				margin-left:0.8rem;
				margin-right:3rem;

        display: flex;
        align-items: center;

				a {
					font-size: 1rem;
					text-transform:uppercase;
					font-weight: 600;
					text-decoration: none;
					color: $dark-gray;
          cursor: pointer;
				}

				&.active {
					position:relative;
					&:before {
						background-image:url('../img/uncheck.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						height:0.5rem;
						width:0.5rem;
						content:'';
						display:block;
						position:absolute;
						left:-0.8rem;
						top:55%;
						transform:translateY(-50%);
					}
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
