.flyout {
	position:fixed;
	right:0;
	top:50%;
	transform: translateY(-50%);
	z-index: 8;
	.flyoutIcon {
		background: $dark-blue;
		margin-bottom:0.5rem;
		max-width: 3rem;
		&:hover {
			background: $dark-gray;

		}
		a{
      cursor: pointer;
			padding:0.75rem;
			display: flex;
		}
	}
}
.map-page .flyout {
  display: none;
}
#socialOverlay {
	display:none;
	opacity: 0;
	position: fixed;
	background:rgba(255,255,255,0.5);
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	&.open {
		display:block;
		opacity: 1;
		z-index: 99;
	}

	.socialOverlayContent {
		position:absolute;
		background:#fff;
		width:60vw;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		padding:3rem 0 2rem;
		display:flex;
		flex-flow: column;
		align-items: center;

		.shareIcon {
			position:absolute;
			bottom:100%;
			left:0;
			height:4rem;
			width:4rem;
			background:$dark-blue;
			padding:1rem;
		}

		h3 {
      color:$dark-gray;
			text-transform: none;
			font-size: 26/20*1rem;
			line-height: 1
		}
		p {
			a {
				font-size: 16/20*1rem;
				color:rgba(#393939, 0.5);
			}
			margin-bottom:3rem;
		}

		.socialList {
      display:flex;
      max-width: 60vw;
      flex-wrap: wrap;
      justify-content: center;

			>li {
				margin:0 0.5rem;
				width:70/20*1rem;
				>a {
          cursor: pointer;
					display: flex;
					flex-flow: column;
					align-items: center;

					>svg {
						height:70/20*1rem;
						width:70/20*1rem;
						path,rect,ellipse {
							fill: $dark-blue;
						}
					}
					>span {
						opacity: 0;
					}
					&:hover {
						>svg {
							path,rect,ellipse {
								fill:$dark-gray;
							}
							&.twitter {
								path{
									fill:#2EACEE;
								}
							}
							&.youtube {
								path {
									fill:#C4302B;
								}
							}
							&.linkedIn {
								path{
									fill:#0073B1;
								}
							}
							&.facebook {
								path {
									fill:#3B5998;
								}
							}
							&.instagram {
								path,ellipse {
									fill:#E95950;
								}
							}
							&.whatsapp {
								path {
									fill:#25D366;
								}
							}
						}
						>span {
							opacity: 1;
							font-size: 1rem;
							font-weight: 400;
						}
					}
				}
			}
		}
	}


}
