footer {
	background : $dark-blue;
	color : #fff;
	font-size: 14/20*1rem;
	padding:2rem 0;
	p {
		color:#fff;
	}
	a {
		font-size: 14/20*1rem;
		font-weight: 300;
		color:#fff;
	}

	nav {
		@extend %wrap;
		>ul {
			display:flex;

			@media (max-width: $breakpoint-tablet){
				flex-flow:column;
			}
			>li { 

				flex: 0 0 20%;
				@media (max-width: $breakpoint-tablet){
					margin-top:0.5rem;
				}
			}
			li:not(.social){
				ul {
					li {
						line-height: 1;
						padding:0.2rem 0;
					}
				}
			}
			li.social {
				@media (max-width: $breakpoint-tablet){
					order:9;
				}
			}
		}

		.socials {
			text-transform: uppercase;
      a {
        &:hover {
          svg {
            background:#fff;
            path,rect,ellipse {
              fill:$dark-gray;
            }
          }
				}
			}
			.copyright {
				display:flex;
				>span {
					display:block;
					font-size: 1rem;
					margin-right:0.1rem;
				}
			}
		}
	}
}
