
.comboInput {
	display:flex;

	.select {
		flex: 0 0 33%;
		margin-right:1rem;

		select {
			height:calc(2rem + 2px);
		}
	}
	.info {
		font-size:1rem;
		font-weight:600;
	}
}
.checkbox {
	position:relative;
	display:flex;
	min-width:3rem;
	min-height:3rem;
	input[type="checkbox"] {
		height:0;
		width:0;
		opacity: 0;
	}
	input[type="checkbox"] + label {
		padding-left:3rem;
		&:before {
			content:'';
			display:block;
			border:1px solid #aaa;
			width:2rem;
			height:2rem;
			top:0px;
			left:0;
			position:absolute;
		}
	}
	input[type="checkbox"]:checked + label {
		&:after {
			content:'';
			display:block;
			background:$dark-blue;
			width:1.2rem;
			height:1.2rem;
			top:calc(2px + (2rem - 1.2rem)/2);
			left:calc(1px + (2rem - 1.2rem)/2);
			position:absolute;
		}
	}
}

.select,.text {
	select,input:not([type="checkmark"]) {
		width:100%;
		border-radius: 0;
		border:1px solid #aaa;
		height:calc(2rem);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline:none;
		padding:0 0 0 1rem;
		font-weight: 600;
		font-size: 1rem;
		color:$dark-gray;
	}
	select {
		height:calc(2rem + 2px);
	}
}
.text {
	@media (max-width: $breakpoint-mobile){
		padding:0;
		input[type='text'] {
			width:calc(100% - 2rem);
		}
	}
}

.select {
	position:relative;

	&:before {
		position:absolute;
		content:'';
		display:block;
		height:0;
		width:0;
		border-top:7px solid $dark-gray;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
		right:1rem;
		top:50%;
		transform:translateY(-50%);
	}
}

.textarea {
	margin-bottom:1rem;
	textarea {
		width:100%;
		border:1px solid #aaa;
		padding:1rem;
		height:200/20*1rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-sizing: border-box;
		font-style: inherit;
		font-size: 1rem;
		font-weight:600;
		color:$dark-gray;
		outline:none;
		font-family: inherit;
	}
}

.form {
	@extend %wrap;
	margin-top:1rem;
	@media (max-width: $breakpoint-mobile){
		padding:0 1rem;
	}

	.threeColumns {
		margin:1rem 0;
		>:nth-child(n) {
			flex:0 0 calc(100/3.1 *1%);
			margin:0;
			padding:0 0.5rem;
			@media (max-width: $breakpoint-mobile){
				padding:0;
				margin-bottom:0.5rem;
			}
			input:not([type="checkmark"]) {
				width:calc(100% - 1rem - 2px);
			}
			select {
				width:calc(100% - 0.5rem);
			}
		}
		>:nth-child(3n) {
			padding-right:0;
		}
		>:nth-child(3n+1) {
			padding-left:0;
		}
		.select {
			@media (max-width: $breakpoint-mobile){
				select {
					width:100%;
				}
			}
			&:before {
				right:2.5rem;
				@media (max-width: $breakpoint-mobile){
					right:1rem;
				}
			}
		}
	}
	.twoColumns {
		margin:1rem 0;
		>:nth-child(n) {
			flex:0 0 50%;
			margin:0;
			padding:0 0.5rem;
			@media (max-width: $breakpoint-mobile){
				padding:0;
				margin-bottom:0.5rem;
			}
			select,input:not([type="checkmark"]) {
				width:calc(100% - 1rem - 2px);
			}
		}
		>:nth-child(2n) {
			padding-right:0;
		}
		>:nth-child(2n+1) {
			padding-left:0;
		}
	}
	.submitWrapper {
		width:100%;
		display:flex;
		align-items: center;
		justify-content: center;
		margin:1rem 0;

		.submitButton {
			text-align: left;
			color:$dark-gray;

			&:before {
				border-left-color:$dark-gray;
			}
		}
	}
}
