.imageTeaser {
  position: relative;
  .teaserForeground {
    position:absolute;
    bottom: 0;
    width: 100%;
  }
  .backgroundTeaser:before {
    content: none;
    padding-bottom: 0;
  }
  .imageBackground .img {
    position: relative;
    img {
      display: block;
    }
  }
  .imageBackground .imgGreyed:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
    z-index: 7;
    opacity: .3;
  }
}

.subtitle {
  font-size: smaller;
  font-style: italic;
}
