.infoBox {
	padding:2rem;
	color:$dark-blue;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom:0.5rem;
	@media (max-width: $breakpoint-mobile){
		padding:2rem 1rem;
	}
	p,.button{
		color:$dark-blue;
		border-color:$dark-blue;
		&:before {
			border-left-color:$dark-blue;
		}
	}
	.button {
		background:transparent;
	}
	.row {
		margin:1rem 0;
		input{
			flex-grow: 1;
			font-size: 1rem;
			color:#fff;
			background:$dark-blue;
			padding-left:1rem;
			outline:none;
			border:1px solid $dark-blue;
			border-right:0px;
			-moz-appearance: none;
			-webkit-appearance: none;
			margin:0;
			@media (max-width: $breakpoint-tablet){
				padding:.55rem;
				margin-bottom: 0.5rem;
				border-right:1px solid $dark-gray;
			}
		}

		@media (max-width: $breakpoint-tablet){
			.button {
				width:auto;
			}
		}
	}
	@media (max-width: $breakpoint-mobile){
		margin: 0 -1rem;

	}
}