.keyFactBoxes {
	.boxesWrapper {
		display:flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin:0 -0.5rem;
	}
	.keyFactBox {
		flex:0 0 calc(100/3*1% - 1rem);
		background:$light-gray;
		position: relative;
		margin:0 0.5rem 1rem;

		.keyFactBoxContent {
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
			text-align: center;
			.headline {
				font-weight:600;
			}
			.text {
				color:$dark-blue;
				font-weight: 600;
			}
		}
	}
}