#mainNav {
	@extend %wrap;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	position: relative;
	color: $dark-gray;
	box-sizing: border-box;

	@media (max-width: $breakpoint-tablet) {
		padding:1rem; //please don't overwrite this
	}

  .logo {
    cursor: pointer;
  }

	a{
		font-size: 18/20*1rem;
		color:$dark-gray;
	}

	.mobileNavToggle {
		display:none;
		@media (max-width: $breakpoint-tablet) {
			display:block;
			z-index: 11;
			>div {
				height:3px;
				width:26px;
				margin-top:4px;
				background: $dark-gray;
			}
		}
	}

	nav {
		width:100%;
		@media (max-width: $breakpoint-tablet) {
			display:none;
		}

		>ul {
			width:100%;
			display:flex;
			justify-content: flex-end;
			li#search {
				input[type='search'] {
					display: none;
				}

				&:hover,&.hover {
					input[type='search'] {
						z-index: 10;
						position: absolute;
						top:102%;
						right:0;
						display: block;
						height: 50/20*1rem;
						width: 310/20*1rem;
						border: 1px solid #aaa;
						font-size: 1rem;
						padding:0 1rem;
					}
				}
			}

			>li {
				margin-left:2.75rem;
				.submenu {
					display:none;
				}

				&:hover,&.hover {
					>.submenu{
						display:block;
						position: absolute;
						top:100%;
						left:0;
						width: $contentWidth;
						z-index: 9;
						padding:0.1rem 0 0 0;
						background: $light-gray;

						font-size: 16/20*1rem;
						a {
							font-size: 16/20*1rem;
						}
						>ul {
							background: #fff;
							padding:1rem 1rem 1rem 2.5rem;
							display:flex;
							flex-flow: row;
							flex-wrap: wrap;
							>li {
								flex:0 0 20%;
								padding:0.5rem 0;
								position:relative;
								>a {
									&:hover {
										color:$dark-blue;
									}
								}
								&:before{
									content:'';
									width:2px;
									height:1.5rem;
									position:absolute;
									display:block;
									left:-0.5rem;
									top:50%;
									transform:translateY(-50%);
									background:$light-gray;
								}
							}

							>:nth-child(5n+1) {
								&:before {
									display: none;
								}
							}
						}

						.submenuFooter {
							display:flex;
							margin:0.5rem 2.5rem;
							align-items: center;
							position: relative;

							.socials {
							margin-top:3px;
								svg{
									background-color: #fff;
									path,rect,ellipse {
										fill:$dark-gray;
									}
								}
								a {
									&:hover {
										svg {
											path,rect,ellipsepath,rect,ellipse {
												fill:$dark-blue;
											}
										}
									}
								}
							}

							>ul {
								display:flex;
								margin-left:5%;
								>li {
									margin-left:1.5rem;
								}
							}
							p {
								position: absolute;
								right:0;
							}
						}
					}
				}
			}
		}
	}
}

body.navOpen {
	overflow:hidden;
	max-height:100vh;
}

.serviceContent {
  li {
    position: relative;
  }
  .submenu {
    display: none;
  }
  .hover .submenu {
    display: flex;
    position: absolute;
    width: max-content;
    right: -1rem;
    background: #f2f2f2;
    padding:1rem;
    z-index: 11;
    a {
      cursor: pointer;
    }
  }
}
