.mapContainer {
	background:$dark-blue;
	.mapHeader{
		@extend %wrap;
		padding:1rem 0;
		position: relative;

		.markerInfo {
			position:absolute;
			left:-1rem;
			background:#fff;
			padding:0;
			line-height: 1.2em;
			z-index: 2;
			box-shadow:0 0 20px;
			top:calc(100% + 1rem);
			left:0rem;

      .contact-wrapper {
        padding: 0.5em 2em 0.5em 1em;
        border-bottom: 1px solid #000;
        &:last-child {
          border-bottom: 0;
        }
      }

			button.close {
				cursor: pointer;
				border: none;
				width: 24px;
				height: 24px;
				border-radius: 12px;
				font-size: 12px;
				text-transform: capitalize;
				position: absolute;
				right:0.5rem;
				top:0.5rem;
			}

			div {
				font-size: 18/20*1rem;
				font-weight:600;
				.phone {
					color:rgb(57, 57, 57);
					font-weight:normal;
					>:nth-child(1) {
						margin-right:0.5rem;
					}
				}
			}
		}
	}
	.map {
    height: calc(100vh - 12.75rem);
    @media(max-width: $breakpoint-tablet) {
      height: calc(100vh - 14rem);
    }
    @media(max-width: $breakpoint-mobile) {
      height: calc(100vh - 12.75rem);
    }
	}

  .mapFilter {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 2fr 2fr;
    grid-gap: 0.5em;

    @media(max-width: $breakpoint-tablet) {
      grid-template-columns: 1fr 1fr;
    }

    .scrollButton {
      color: $dark-blue;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      padding-right: 2rem;
      border-radius: 1rem;
      &::before, &::after {
        border-left-color: $dark-blue;
        top: 60%;
      }
      &::after {
        transform: translateY(-120%) rotate(90deg);
      }
    }


    .text {
      padding: 0 1rem 0 0;
    }

    @media(max-width: $breakpoint-tablet) {
      .text {
        padding: 0;
        input {
          box-sizing: border-box;
        }
      }
    }

    select:disabled {
      display: none;
    }
    .select.disabled:before {
      display: none;
    }
  }
}

.markerInfo {
  position:absolute;
  background: white;
  margin-left: 1rem;
  padding: 1em;
  line-height: 1.2em;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 0 20px;

  a {
    display: block
  }

  .close {
    cursor: pointer;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 12px;
    text-transform: capitalize;
    float: right;
  }
}

.map .flyout {
  display: none;
}
