.marketTable {
	@extend %wrap;
	position:relative;
	.blue {
		flex: 0 0 100/22*4*1%;
	}
	.yellow {
		flex: 0 0 100/22*5*1%;
	}
	.green {
		flex: 0 0 100/22*4*1%;
	}
	.red {
		flex: 0 0 100/22*4*1%;
	}
	.tableHeader {
		padding-top: 1rem;
		position: sticky;
		top: 7.95rem;
		background: #fff;
		z-index: 5;
		ul {
			display:flex;
			justify-content: flex-end;
			li {
				display:flex;
				flex-flow:column;
				justify-content: space-between;
				p {
					height:100%;
					display:flex;
					justify-content: center;
					align-items: center;
					position:relative;
					color:$dark-gray;
					line-height: 1.1;
					padding:0 0.5rem 1rem;
					text-align: center;
					font-size: 18/20*1rem;
					&:after {
						width:100%;
						bottom:0;
						left:0;
						display:block;
						position:absolute;
						content:'';
						height:4/20*1rem;
					}
				}
				&.blue {
					p {
						&:after {
							background:rgba(105,155,235);
						}
					}
				}
				&.yellow {
					p {
						&:after {
							background:rgba(245,222,86);
						}
					}
				}
				&.green {
					p {
						&:after {
							background:rgba(154,214,177);
						}
					}
				}
				&.red {
					p {
						&:after {
							background:rgba(214,75,104);
						}
					}
				}
			}
			.icons {
				margin-top:1rem;
				display:flex;
				img {
					height:2rem;
					width:58/20*1rem;
				}
			}
		}
	}
	.tableData {
		margin-top:1rem;
		ul {
			li {
				display:flex;
				padding:.5rem 0;
				box-sizing: border-box;
				p {
					flex: 0 0 100/22*5*1%;
					line-height: 1;
					display:flex;
					align-items: center;
					box-sizing: border-box;
					padding:0 0.5rem;
					@media (max-width: $breakpoint-tablet){
						flex:0 1 50%;
					}
				}

				div {
					padding:0 0.25rem;
					display:flex;
					justify-content: space-between;
					box-sizing: border-box;
					$size : 2.5rem;
					a{
						display:block;
						width:$size;
						pointer-events: none;
						@media (max-width: $breakpoint-tablet){
							margin :0 0.155rem;
						}
					}
					a.marker {
						height:$size;
						width:$size;
						display:block;
						position:relative;
						pointer-events:all;
						&:after {
							content:'';
							display:block;
							position:absolute;
							height:0;
							width:0;
							border-left:.8rem solid #fff;
							border-top:0.5rem solid transparent;
							border-bottom:0.5rem solid transparent;
							left:50%;
							top:50%;
							transform:translate(-50%,-50%);
						}
					}

					&.blue {
						a.marker {
							background:rgba(105,155,235);
						}
					}
					&.yellow {
						a.marker {
							background:rgba(245,222,86);
						}
					}
					&.green {
						a.marker {
							background:rgba(154,214,177);
						}
					}
					&.red {
						a.marker{
							background:rgba(214,75,104);
						}
					}
				}
			}

			>:nth-child(2n+1) {
				background:$light-gray;
			}
		}
	}
	.select {
		display:none;
	}
	@media (max-width: $breakpoint-tablet){
		.select {
			display:block;
			margin-top:1rem;
		}
		.tableHeader {
			top:5.4rem;
		}
		&.showGreen {
			.tableHeader {
				>ul {
					>li:not(.green) {
						display:none;
					}
				}
			}
			.tableData {
				>ul{
					>li {
						justify-content: space-between;
						>div:not(.green) {
							display:none;
						}
					}
				}
			}
		}
		&.showRed{
			.tableHeader {
				>ul {
					>li:not(.red) {
						display:none;
					}
				}
			}
			.tableData {
				>ul{
					>li {
						justify-content: space-between;
						>div:not(.red) {
							display:none;
						}
					}
				}
			}
		}
		&.showYellow{
			.tableHeader {
				>ul {
					>li:not(.yellow) {
						display:none;
					}
				}
			}
			.tableData {
				>ul{
					>li {
						justify-content: space-between;
						>div:not(.yellow) {
							display:none;
						}
					}
				}
			}
		}
		&.showBlue {
			.tableHeader {
				>ul {
					>li:not(.blue) {
						display:none;
					}
				}
			}
			.tableData {
				>ul{
					>li {
						justify-content: space-between;
						>div:not(.blue) {
							display:none;
						}
					}
				}
			}
		}
	}
}