.methodBox {
	background:#f2f2f2;
	margin:1rem 0;
	padding:0.75rem 1rem;
	@media (max-width: $breakpoint-mobile){
		padding-top:3rem;
	}
	.methodBoxHeader {
		position:relative;
		h3,.title {
			text-transform:none;
			font-size: 22/20*1rem;
			font-weight: 600;
			max-width:85%;
		}

		>a {
      cursor: pointer;
			position:absolute;
			right:1.5rem;
			top:50%;
			transform:translateY(-50%);
			@media (max-width: $breakpoint-mobile){
				top:-2rem;
			}
			&:before {
				content:'';
				position:absolute;
				display:block;
				border-top:7px solid $dark-gray;
				border-left:5px solid transparent;
				border-right:5px solid transparent;
				left:calc(100% + 0.5rem);
				top:50%;
				transform:translateY(-50%);
			}
    }
    .show_less { display: none }
	}
	.textMedia {
		display:none;
	}

	&.open {
    .show_less { display: initial }
    .show_details { display: none }
		.methodBoxHeader {
      margin-bottom:1rem;
      >a {
        &:before {
          transform:translateY(-50%) rotate(180deg);
        }
      }
		}
		.textMedia {
			display: block;
			padding-right:10%;
			padding-bottom:1rem;

			&:after {
				content:"";
				clear:both;
				display:table;
			}
			.image {
				margin-left:1rem;
				float:right;
				flex: 0 0 40%;
				@media (max-width: $breakpoint-tablet){
					float:none;
					margin-left:0;
					margin-bottom:1rem;
				}
			}

			@media (max-width: $breakpoint-tablet){
				padding-right:0;
				padding-left: 0;
			}
		}
	}
}
