#mobileNav {
	width:0;
	height:0;
	transition: width 0.2s,height 1s;
	display:none;
	&.open{
		position:absolute;
		top:4.5rem;
		right:0;
		background:$light-gray;
		height:calc(100vh - 4.5rem);
		z-index: 999;
		width:100vw;
		display:flex;
		flex-flow:column;
	}
	nav {
		margin-bottom:1rem;
		overflow-y: scroll;
		overflow-x: hidden;
		#searchMobile {
			background:#fff;
			padding:1rem;
			display:flex;
			flex-flow:row-reverse;
			align-items: center;
			margin-bottom:1rem;
			margin-top:0;
			img {
				height:1.5rem;
				width:1.5rem;
			}

			input {
				flex-grow:1;
				border:none;
				height:auto;
				font-size: 1rem;
				outline:none;
			}
		}
		ul {
			padding-left:1rem;
			display:flex;
			flex-flow:column;
			a {
					padding:0.5rem 0;
					font-weight:600;
				}
			.submenu:not(.open) {
				margin:0.5rem 0;
				position: relative;
				&.hidden {
					display:none;
				}
				> a {
					padding:0.5rem 0;
					font-weight:600;
				}
				> a.next {
					position:absolute;
					padding:0.8rem 2rem;
					right:0;
					&:before {
						top:50%;
						left:50%;
						position: absolute;
						transform:translate(-50%,-50%);
						display:block;
						content:'';
						height:0;
						width:0;
						border-left:8px solid #000;
						border-top:5px solid transparent;
						border-bottom:5px solid transparent;
					}
				}
				> ul {
					display:none;
				}
			}
			.submenu.open {
				> a {
					display:none;
				}
			}
		}
		ul.open {
			display:flex;
			flex-flow:column;
			padding-left:0;
			li {
				margin:0.75rem 0;
				a {
					font-weight:600;
					color:$dark-gray;
				}
			}
			li.submenu {
				display:flex;
				a:not(.next) {
					display:block;
					flex: 0 0 70%;
				}
				a.next {
					flex:0 0 30%;
					position:relative;
					display:block;
					&:before {
						position:absolute;
						content:'';
						display: block;
						border-left:8px solid $dark-gray;
						border-top:5px solid transparent;
						border-bottom:5px solid transparent;
						right:0.5rem;
						top:50%;
						transform:translateY(-50%);
					}
				}
				>ul {
					display:none;
				}
			}
			.previous {
				a {
					padding-left:1rem;
					color:$dark-blue;
					position: relative;
					display:block;
					width:100%;
					margin-bottom:1rem;
					&:before {
						display: block;
						position:absolute;
						content:'';
						width:0;
						height:0;
						border-right:8px solid $dark-blue;
						border-top:5px solid transparent;
						border-bottom:5px solid transparent;
						top:50%;
						left:0rem;
						transform:translateY(-50%);
					}
				}
			}
		}
	}
	.info {
		li {
			margin:0.75rem 0;
			padding:0 1rem;
			a {
				font-weight:300;
			}
		}
	}
	.showMore {
		&:not(.open) {
			height:3rem;
		}
		background:rgb(233,233,233);
		position:absolute;
		bottom:0;
		width:100%;
		left:0;
		.showMoreButton {
			height:3rem;
			display:block;
			padding:1rem;
			width:100%;
			box-sizing: border-box;
			color:$dark-blue;
			position:relative;

			&:before,&:after {
				content:'';
				position:absolute;
				display:block;
				height:0;
				width:0;
				right:1.5rem;
				border-bottom:8px solid $dark-blue;
				border-left:5px solid transparent;
				border-right:5px solid transparent;
				top:44%;
			}
			&:after {
				top:55%;
			}

		}
		&.open {
			height:auto;
			ul {
				margin-top:2rem;
				li {
					padding:0 1rem;
					margin:0.75rem 0;
				}
			}
			.socials,.socialImages {
				padding:0 1rem;
				margin:1rem 0;
				a {
					svg {
						path,circle,rect {
							fill:$dark-gray;
						}
					}
				}
			}
			p {
				padding:0 1rem;
				text-transform: uppercase;
				font-size: 16/20*1rem;
				font-weight: 300;
			}
		}
	}
}