.singleNew {
	.date {
		line-height: 31/20*1rem;
		border-bottom: 1px solid $light-gray;
		margin-bottom:0.5rem;
		padding-bottom: 0.5rem;
	}
	@media (max-width: $breakpoint-tablet){
		margin-bottom:3rem !important;
	}
	&.last {
		@media (max-width: $breakpoint-tablet){
			margin-bottom:0 !important;
		}
	}
}