.paginationWrapper {
	display:flex;
	justify-content: center;
  margin: 0 auto;

  a { cursor: pointer ;}
  a.disabled {
    cursor: default;
    color: $light-gray;
  }
  a.prev.disabled:before {
    border-right:7px solid $dark-gray;
  }
  a.next.disabled:before {
    border-left:7px solid $dark-gray;
  }

	.pagination {
		display:flex;
		margin:0 auto;
		flex-flow: row;
		background-color: $light-gray;
		position:relative;
		padding:0.5rem 1.5rem;
		border-radius:30/20*1rem;
		margin-top:2rem;

		.next,.prev {
			font-weight: 600;
			font-size: 18/20*1rem;
			position: relative;
			display:block;
			&:before {
				content:'';
				position:absolute;
				display:block;
				border-top:5px solid transparent;
				border-bottom: 5px solid transparent;
				top:50%;
				transform: translateY(-40%);
			}
		}
		.prev{
			margin-right:2rem;
			padding-left:1rem;
			&:before {
				border-right:7px solid $dark-gray;
				left:0rem;
			}
		}
		.next {
			margin-left:2rem;
			padding-right:1rem;
			&:before {
				border-left:7px solid $dark-gray;
				right:0rem;
			}
		}
		.pages {
			display:flex;
			.page a{
				font-size: 18/20*1rem;
				font-weight: 600;
				margin:0 0.25rem;
				&.active {
					color:$dark-blue;
					text-decoration:underline;
				}
			}
		}
	}
}
