.stageProgressBars {
	@extend %wrap;
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	bottom:1rem;
	display:flex;
	@media (max-width: $breakpoint-mobile){
		bottom:unset;
		top:1rem;
	}
	.stageProgressBar {
		margin:0 1rem;
		flex-grow:1;
		.stageProgressBarText {
			color:#fff;
			font-size: 16/20*1rem;
			text-transform: uppercase;
			line-height: 1;
			margin-bottom:0.4rem;
			opacity: 0.55;
		}

		.stageProgressBarBar {
			height:7/20*1rem;
			background:rgba(255,255,255,0.55);
    }

    .stageProgressBarFiller {
      width: 0;
    }

		&.active {
			.stageProgressBarText {
				opacity: 1;
			}
			.stageProgressBarFiller {
				display:block;
				background:#fff;
        width: 100%;
				height:100%;
			}
		}
	}
	>:nth-child(1){
		margin-left:0;
	}
	>:nth-last-child(1){
		margin-right:0;
	}
}
