.productTeaser {
	box-sizing: border-box;
	display:flex;
	flex-flow:column;
	margin-bottom:1rem;
	img {
		object-fit: cover;
	}
	.button {
		border:none;
		background:#F7F7F7;
		color:$dark-blue;
		width:100%;
		padding:1rem;
		font-size: 24/20*1rem;
		height:90/20*1rem;
		padding-right:2rem;
		@media (max-width: $breakpoint-tablet) {
			height:auto;
		}

		&:before {
			border-left-color:$dark-blue;
		}
	}
}