.search-content {
  inf-pagination {
    width: 100%;
  }

  .which {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .excerpt {
    white-space: pre-wrap;
  }

  .filter {
    padding: 1rem 0;
    background: none;
    background: #f2f2f2;
  }

  .search_types {
    background: white;
    padding-bottom: 0;

    .filterContent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      h3 {
        font-size: 1.5rem;
        padding: 0 1rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;

        .total {
          margin-left: 0.5rem;
        }
      }
      h3.active {
        background: #f2f2f2;
      }
    }
  }

  .search_bar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    >* {
      position: initial !important;
      top: unset !important;
      right: unset !important;
    }
    input {
      width: 90% !important;
    }
  }

  .results-wrapper {
    width: 100vw;
    overflow-x: hidden;
    position: relative;

    .results-pane {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 300vw;
      scroll-behavior: smooth;
      transition-property: left;
      transition-duration: 0.5s;
      left: 0;
      margin: 0 0 2em;

      .search-results {
        height: 1px;
        width: 100vw;
        max-width: none;
      }
    }

    .results-pane.web-results {
      left: 0;
      .search-results.web-results {
        height: auto;
      }
    }
    .results-pane.products-results {
      left: -100vw;
      .search-results.products-results {
        height: auto;
      }
    }
    .results-pane.downloads-results {
      left: -200vw;
      .search-results.downloads-results {
        height: auto;
      }
    }
  }

  .searchResult {
    margin-left: 0;
    cursor: pointer;
    clear: both;
    display: grid;
    grid-template-columns: 10vw 1fr;
    grid-gap: 1em;
    margin-bottom: 1em;

    h4 {
      display: flex;
      justify-content: space-between;
      span:first-child {
        text-decoration: underline;
      }
    }

    a {
      font-size: smaller;
      text-decoration: underline;
    }

    .page_category {
      font-size: 0.9rem;
      font-weight: normal;
      margin-left: 1em;
      color: #888;
      text-transform: uppercase;
    }
    img {
      width: unset;
      height: auto;
      max-width: 100%;
      max-height: 10vw;
    }
  }
}

.page_categories {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  input {
    width: unset !important;
    border: unset !important;
    height: unset !important;
    appearance: auto !important;
    margin-right: 0.5em;
  }
  label {
    margin-right: 1em;
    text-transform: capitalize;
  }

  ul {
    max-width: $contentWidth;
    margin: 0 auto;
  }
}
