#serviceNav {
	@media (max-width: $breakpoint-tablet) {
		display:none;
	}
	$service-nav-padding : 7/20*1rem;

	background: $light-gray;
	font-size: 14/20*1rem;
	padding:$service-nav-padding 0 ;

	a {
		font-size: 14/20*1rem;
	}

	.serviceContent {
		display:flex;
		justify-content: flex-end;
		@extend %wrap;

		>ul {
			display:flex;
			>li {
				margin:0 1rem;
			}
		}

		.language {
			position: relative;
			margin-left:1rem;
				&:before {
					position:absolute;
					display:block;
					content:'';
					width:2px;
					height:calc(100% + #{$service-nav-padding * 2});
					top:0;
					transform:translateY(-#{$service-nav-padding});
					left:-1rem;
					background: #fff;
				}

				.current {
					padding-right:1rem;
					&:before {
						content: '';
						display: block;
						position: absolute;
						right:0;
						width:0;
						height:0;
						border-top:7px solid #000;
						border-left:4px solid transparent;
						border-right:4px solid transparent;
						top:50%;
						transform: translateY(-50%);
						transition: transform 0.5s;
					}
				}
			ul {
				display:none;
			}
			&.hover {
				.current::before {
					transform:translateY(-50%) rotateX(180deg);
				}
				ul{
					display:table;
					position:absolute;
					top:100%;
					left:-1rem;
					background: $light-gray;
					padding:0;
					z-index: 10;
          li {
            padding: 0 1rem;
            cursor: pointer;
          }

					&:before {
						position:absolute;
						display:block;
						content:'';
						width:2px;
						height:100%;
						bottom:0;
						left:0rem;
						background: #fff;
					}
				}
			}
		}
	}

}
