.socialCard {
	background:linear-gradient(135deg, #FCFCFC, #F0F0F0);
	padding: 1rem 1rem 2rem ;
	position:relative;
	.icon {
		position: absolute;
		bottom:1rem;
		right:1rem;
		height:auto;
		width:auto;
	}

	&:hover {
		.icon{
			filter: saturate(0%) brightness(100);
		}
		strong,p{
			color:#fff;
		}
	}

	&.twitter {
		&:hover {
			background:#00ACEE;
		}
	}
	&.linkedIn {
		&:hover {
			background:#0073B1;
		}
	}
	&.facebook {
		&:hover {
			background:#3B5998;
		}
	}
	&.instagram {
		&:hover {
			background:#E95950;
		}
	}
}