.stage {
	position: relative;
	color:#fff;
	font-style: italic;
	font-weight: 300;
	font-size: 44/20*1rem;
	line-height: 50px; 

	@media (max-width: $breakpoint-mobile) {
		height:auto;
		img{
			object-fit: cover;
		}
	}
	.slide {
		position:relative;
	}
	.stageOverlay {
		@extend %wrap;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		position: absolute;

		@media (max-width: $breakpoint-mobile){
			top:unset;
			bottom:0;
			left:0rem;
			transform:none;
			padding: 0;
			max-height: 60%;
			overflow:hidden;
			position:initial;
			margin-top:-0.5rem;
		}
		.stageOverlayText {
			max-width: 625/20*1rem;
			background:rgba(#000, 0.5);
			@media (max-width: $breakpoint-mobile){
				max-width: unset;
			}
			p{
				color:#fff;
				padding:1rem;
				@media (max-width: $breakpoint-tablet){
					font-size: 1rem;
					line-height: 1.4;
				}

				b,strong {
					font-weight:600;
					color:#fff;
				}
			}
		}
		
	}
}