.tabs-container{
	@extend %wrap;
	box-sizing: border-box;
	* {
		box-sizing: border-box;
	}


	@media (max-width: $breakpoint-tablet){
		padding:0.5rem;
	}
	.mobile-control {
		display:none;
		position:relative;
    a { cursor: pointer; }

		@media (max-width: $breakpoint-tablet){
			display:flex;
			justify-content: stretch;
			border-top:1px solid $light-gray;
			border-left:1px solid $light-gray;
			border-right:1px solid $light-gray;
			padding:0.5rem;

			.control-content {
				display:none;
			}
			.active-item {
        cursor: pointer;
				background:$light-gray;
				width:100%;
				padding:0.5rem;
				position:relative;
				&:before {
					position:absolute;
					display:block;
					content:'';
					border-top: 5px solid $dark-gray;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					right:1rem;
					top:50%;
					transform: translateY(-50%);
					transition: transform 0.5s;
				}
			}

			&.open {
				.active-item {
					background:#fff;
					&:before {
						transform:translateY(-50%) rotateX(180deg);
					}
				}
				.control-content {
					display:flex;
					flex-flow: column;
					position: absolute;
					top:100%;
					z-index: 99;
					background:$light-gray;
					padding:1rem;
					width:100%;
					left:0;
				}
			}
		}
	}
	.tabs {
		display:flex;
		position:relative;
		@media (max-width: $breakpoint-tablet){
			border-bottom:1px solid $light-gray;
			border-left:1px solid $light-gray;
			border-right:1px solid $light-gray;
		}

		.tab {
			.tab-header {
				padding:0.5rem 2rem;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 24/20*1rem;
				cursor: pointer;
				height:auto;

				@media (max-width: $breakpoint-tablet){
					display:none;
					height:0;
				}
			}
			.tab-content {
				display:none;
				background: $light-gray;
				width:100%;
				padding:0.5rem 2rem;

			}

			&.active {
				background: $light-gray;
				.tab-content {
					display:block;
					position:absolute;
					left:0;
					bottom:0;
					background: $light-gray;
					width:100%;
					padding:1rem 2rem;
					@media (max-width: $breakpoint-tablet){
						background:#fff;
						padding:0.5rem 1rem;
					}

					table {
						tr {
							@media (max-width: $breakpoint-tablet){
								display:flex;
								flex-flow: column;
								padding-bottom:0.5rem;
							}
							th {
								font-weight: 600;
								text-align: left;
							}
							td {
								padding-left: 2rem;
								@media (max-width: $breakpoint-tablet){
									padding-left: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
