.teaserDates {
	background: $light-gray;
	padding:1rem 12rem 3rem 7rem;;
	margin-top:0.5rem;
	margin-bottom:0.5rem;
	.showMore {
		position:absolute;
		left:7rem;
		bottom:1rem;
		font-weight: 600;
		padding-right:1rem;
		color:$dark-gray;
		&:before {
			display:block;
			content:'';
			height:0;
			width:0;
			border-top:5px solid $dark-gray;
			border-left:5px solid transparent;
			border-right:5px solid transparent;
			position:absolute;
			right:0rem;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.teaserDateHead {

		display:flex;
		flex-flow:row;
		position:relative;

			.teaserDateIcon {
				position: absolute;
				width: 4rem;
				right: calc(100% + 1rem);
				top: 0.5rem;
				object-fit: contain;
				height: auto;
			}

			.teaserDateHeader {

				.date {
					font-size: 1rem;
					font-weight: 600;
					line-height: 1;
					text-transform: uppercase;
				}
				.location {
					font-size: 16/20*1rem;
					font-weight: 400;
					text-transform: uppercase;
					line-height:1;
				}
				.name {
					font-size: 22/20*1rem;
					font-weight: 600;

				}
			}

			.teaserDateDates {
				position: absolute;
				left: calc(100% + 1rem);
				width: 100%;
				max-width:10rem;
				display: flex;
				flex-flow: column;
				padding-left: 1rem;
				border-left: 1px solid $dark-gray;
				height:5rem;
				justify-content: center;
				.date {
					color:$dark-gray;
				}
				.dateTo {
					padding-top:1rem;
					position:relative;
					&:before {
						content:'-';
						position:absolute;
						top:-0.3rem;
						left:30%;
						transform: translateX(-50%);
					}
				}
			}

			.tags {
				position:absolute;
				right:1rem;
				top:1rem;
				display:flex;
				flex-flow: row;
				li {
					text-transform: uppercase;
					border: 1px solid $dark-gray;
					padding:0 0.5rem;
					margin-left:0.5rem;
					font-size: 14/20*1rem;
					font-weight: 600
				}
				li.share {
					background-image:url('../img/share_dark.svg');
					background-position: center;
					background-size:contain;
					background-repeat:no-repeat;
					border:none;
					margin-left:1rem;
				}

			}

	}

	.teaserDateContent {
		display:none;
	}

	&.noIcon {
		padding:1rem 12rem 3rem 2rem;
	}

	&.open {

		.showMore {
			&:before {
				transform:translateY(-50%) rotate(180deg);
			}
		}

		.teaserDateContent {
			display:block;
			margin-top:2rem;
			.buttons {
				display:flex;
				flex-flow: row;
				margin-top:1rem;
				.button {
					background: transparent;
					margin-right:1rem;
					width:auto;
					padding-right:2rem;
					color:$dark-gray;
					&:before {
						border-left-color:$dark-gray;
					}
				}
			}
		}
	}



}
