.teasers {
	@extend %wrap;
	.threeColumns {
		@media (max-width: $breakpoint-mobile){
			align-content:center;
		}		
	}
	.teaser {
		.button {
			width:100%;
			font-size: 24/20*1rem;
			font-weight: 600;
			min-height:90/20*1rem;
			padding-right:2rem;
			display:flex;
			flex-flow: column;
			justify-content: center;
		}

		.teaser-image {
			position:relative;

      .image-container {
        overflow: hidden;
        background-size: cover;
        background-position: contain;
        padding-top: 100%;
        background: no-repeat;
      }

			span {
				position:absolute;
				bottom:0.5rem;
				left:0;
				background:#FF0080;
				color:#fff;
				padding:0 0.5rem;
			}
			.image-container {
				background-size: contain;
				background-repeat:no-repeat;
				overflow:hidden;
				padding-top:100%;
			}
		}
	}
}
