.textMedia {
	display:flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: flex-start;

	@media (max-width: $breakpoint-tablet){
		flex-flow:column;
	}
	@extend %wrap;

	&.reverse {
		flex-flow:row-reverse;
		@media (max-width: $breakpoint-tablet){
			flex-flow:column-reverse;
		}
	}

	.video {
		width:100%;

			display:block;
			iframe {
				width:100%;
			}

	}

	&.videoNoContent {
		.video {
			overflow:hidden;
			padding-bottom:56.25%;
			position:relative;
			height:0;

			>iframe {
				left:0;
				top:0;
				position: absolute;
				height:100%;
				width:100%;
			}
		}
	}
	.textMediaContent {
		flex:0 0 48%;
		box-sizing:border-box;
		ul,ol {
			padding-left:1rem;
			>li {
				position:relative;
        line-height: 1.5em;
        margin-bottom: 0.5em;
				&:before {
					display:block;
					content:'';
					background:url('../img/checkmark-list.svg');
					background-position: center;
					background-size:contain;
					height:0.8rem;
					width:0.8rem;
					left:-1rem;
					top:0.4rem;
					position:absolute;
				}
			}
		}
		a {
			color:$dark-blue;
			font-weight: 600;
		}
	}
	img,.video,.image {
		flex: 0 0 48%;
		display:flex;
		flex-flow:column;
		object-fit: contain;
		max-width:48%;
		width:auto;
		margin:0 auto;
		@media (max-width: $breakpoint-tablet){
			max-width:100%;
		}

		&.notFitted {
			width:auto;
			display:initial;
			max-width:100%;
			margin:0 auto;
			flex: 0 0 auto;
		}
	}
	.image {
		> img {
			max-width:100%;
		}
	}

	@media (max-width: $breakpoint-tablet){
		padding:0 1rem;

	}
	@media (max-width: $breakpoint-mobile){
		flex-flow:column;
		img.hideMobile {
			display:none;
		}
	}
}
.text {

	box-sizing: border-box;
	@extend %wrap;
}

.textMediaText {
  .textMediaContent {
    flex-grow: 1;
  }

  img, video, .image {
    display: none;
  }
}

.textMediaLeft, .textMediaLeft .textMedia {
  flex-direction: row-reverse;
  @media (max-width: $breakpoint-mobile){
  	flex-direction: column-reverse;
  }
}

.textMediaBottom, .textMediaBottom .textMedia {
  flex-direction: column;
}

.vertical-center .textMediaContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-link {
  a {
    display: inline-block;
    position: relative;
    padding-right: 2em;
    color: #000;

  }
  a:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: 1rem;
    top: 52%;
    transform: translateY(-50%);
  }
}

.icon-media, .dynamic-media {
  img, .video, .image {
    flex: unset;
    width: unset;
    height: unset;
  }
}
.icon-media {
  .textMediaContent {
    flex:unset;
  }
}
.dynamic-media {
  .textMedia {
    justify-content: space-evenly;
  }
}

.icon-media.textMediaRight, .dynamic-media.textMediaRight {
  .textMediaContent {
    margin-right: 1em;
  }
}
.icon-media.textMediaLeft, .dynamic-media.textMediaLeft {
  .textMediaContent {
    margin-left: 1em;
  }
}

.download-highlighter {
	padding:1rem 0;
	background: #d7d7d7; //$light-gray;

  h1 {
    display: none;
  }

  .textMedia {
		@extend %wrap;
    padding: 20px 100px;

		@media (max-width: $breakpoint-tablet){
			flex-flow:column;
			padding:2rem 0;
		}
    > div {
      margin: 0 2rem;
      @media (max-width: $breakpoint-tablet){
				margin:1rem;
			}
    }
    a {
      margin-right: 60px;
    }
  }

	.contentElement {
		padding-bottom:0;
	}

  .textMedia{
    flex-direction: row-reverse;
    .textMediaContent, .image, img {
      flex: unset
    }
    img {
      width: unset;
      height: unset;
			max-height:300/20*1rem;
			object-fit:contain;
			max-width:215/20*1rem;
			@media (max-width: $breakpoint-tablet){
				margin-bottom:1rem;
			}
    }
  }
}
.button-link, .download-highlighter {
  a {
    display: inline-block;
    position: relative;
    padding-right: 2em;
    color: #000;

  }
  a:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: 1rem;
    top: 52%;
    transform: translateY(-50%);
  }
}
