.trainingTeaser {
	.trainingTeaserImageContainer {
		position:relative;
		.imageCaption {
			position:absolute;
			padding:2rem;
			width:100%;
			height:auto;
			bottom:0;
			left:0;
			box-sizing:border-box;
			max-width: 100%;
			p {
				text-transform: uppercase;
				font-size: 1.5rem;
				color:#fff;
				font-weight: 600;
				overflow-wrap: break-word;
			}
		}
	}
	img {
		object-fit: contain;
		height:auto;
	}

	.trainingTeaserContent{
		padding-left:2rem;
	}
}